*.pyc
__pycache__/
/venv/
static/
testy-static/
media/
/pg-data/
/redis_data/
.env
.env.local
db.sqlite3
.DS_Store
.idea
.coverage
.vscode
.pytest_cache
node_modules/
testy_static/dist/*.html
package-lock.json