{% load static %}

<header class="border-bottom px-3">
    <div class="navbar navbar-expand">
        <a href="{% url 'index' %}" class="navbar-brand mb-0 h1">TestY TMS</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}">Dashboard</a>
                </li>
                {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_overview' %}">Administration</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-link text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown">
                <div class="d-inline-block">
                    <div class="account-dropdown d-flex">
                        <div class="pe-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                 class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                                <path fill-rule="evenodd"
                                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                            </svg>
                        </div>
                        <div class="text-start">
                            <span class="d-block lh-1">{{ request.user.username }}</span>
                            <span class="d-block lh-1 pt-1 opacity-75" style="font-size: 0.7rem;">-</span>
                        </div>
                    </div>
                </div>
            </button>
            <ul class="dropdown-menu dropdown-menu-end text-small">
                <li><a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</header>