{% extends 'tms/project_page.html' %}
{% load render_table from django_tables2 %}
{% load mptt_tags %}
{% load static %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"  aria-current="page">
        <a class="link-dark text-decoration-none" href="{% url 'project_details' project.pk %}">{{project.name}}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Test suites</li>
{% endblock %}

{% block page-content %}
<div class="tab-content2 px-3 h-100">
    <div class="row h-100 ps-3">
        <div class="col-3 px-0">
            <div class="card border-0 h-100 bg-light">
                <div class="card-body">
                    <h5 class="pb-3">
                        <a class="btn btn-sm btn-lg" onclick="createTestSuite({{project.pk}})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#3245a1" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                        </a>
                         Suites
                    </h5>
                    <div id="tree" class="border-0" data-toggle="collapse"></div>
                </div>
            </div>
        </div>

        <div class="col bg-light p-0">
            <div id='testSuite' class="h-100"></div>
        </div>
        <div class="col-4 px-0 border-start collapse width border-light border-5" id="test-description"></div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ block.super}}
    <script>
    $('#tree').bstreeview({ data: JSON.parse("{{ treeData|escapejs }}"),
                            expandIcon: "bi bi-chevron-down", collapseIcon: "bi bi-chevron-right",openNodeLinkOnNewTab: false,
                            selectable: true, highlightSelected: true, multiSelect: true, backColor:"#F6F6F6",
                            class: "border-0"})


    function getSuiteDescription(suite_id) {
        $.ajax({
            data: {'suite_id': suite_id},
            url: "{% url 'suite_cases_list' %}",
            success: function (response) {
                $('#testSuite').html(response['cases_list']);
            }
        });
    }

    $('.list-group-item').on('click', function(e, data) {
        return getSuiteDescription(event.target.id)
    });

    function getTestDescription(test_case_id) {
        $.ajax({
            data: {'test_case_id': test_case_id},
            url: "{% url 'test_test_case' %}",
            success: function (response) {
                 $('#test-description').html(response['test_template']);
                 $('#test-description').collapse('show');
            }
        });
    };

    function closeTestCase() {
        $('#test-description').collapse('hide');
    };

    function editTestCase(test_case_id) {
        $.ajax({
            data: {'test_case_id': test_case_id},
            url: "{% url 'test_case_edit' %}",
            success: function (response) {
                 $('#test-description').html(response['test_template']);
            }
        });
    };

    function saveTestCase(test_case_id) {
        let name = $('#testCaseName').val();
        let estimate = $('#estimateTest').val();
        let setup = $('#testCaseSetup').val();
        let scenario = $('#testCaseSteps').val();
        let teardown = $('#testCaseTeardown').val();
        $.ajax({
             url: "{% url 'test_case_edit' %}",
             method : 'POST',
             dataType : "json",
             data: {'name': name,
                    'id': test_case_id,
                    'setup': setup,
                    'scenario': scenario,
                    'teardown': teardown,
                    'estimate': estimate,
                    csrfmiddlewaretoken: "{{ csrf_token }}"},
                    success: function(response) {
                        $('#test-description').html(response['test_template']);
                        getSuiteDescription(response['test_suite_id']);
             }
        });
    };

    function createNewTestCase(test_suite_id) {
        $.ajax({
            data: {'test_suite_id': test_suite_id},
            url: "{% url 'test_case_add' %}",
            success: function (response) {
                 $('#test-description').html(response['test_template']);
                 $('#test-description').collapse('show');
            }
        });
    };

    function addTestCase(suite_id, project) {
        let name = $('#testCaseName').val();
        let estimate = $('#estimateTest').val();
        let setup = $('#testCaseSetup').val();
        let scenario = $('#testCaseSteps').val();
        let teardown = $('#testCaseTeardown').val();
        var form = $('#TestCaseCreate');
        $.ajax({
             url: "{% url 'test_case_add' %}",
             method : 'POST',
             dataType : "json",
             data: {'name': name,
                    'suite': suite_id,
                    'project': project,
                    'setup': setup,
                    'scenario': scenario,
                    'teardown': teardown,
                    'estimate': estimate,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
             },
                    success: function(response) {
                        $('#test-description').html(response['test_template']);
                        getSuiteDescription(suite_id);
             }
        });
    };

    function deleteTestCase(id) {
        $.ajax({
             url: "{% url 'test_case_remove' %}",
             method : 'GET',
             dataType : "json",
             data: {'id': id},
                    success: function(response) {
                        $('#test-description').collapse('hide');
                        getSuiteDescription(response['test_suite_id']);
             }
        });
    };

    function deleteTestSuite(id) {
        $.ajax({
            url: "{% url 'test_suite_delete' %}",
            method : 'GET',
            dataType : "json",
            data: {'id': id},
            success: function(response) {
                location.reload();
            }
        });
    };

    function createTestSuite(project_id) {
        $.ajax({
            url: "{% url 'test_suite_create' %}",
            method : 'GET',
            dataType : "json",
            data: {'project_id': project_id},
            success: function(response) {
                $('#testSuite').html(response['test_template']);
            }
        });
    };

    function closeTestSuite() {
         location.reload();
    };

    function addTestSuite(project_id) {
        let name = $('#testSuiteName').val();
        let parent = $('#parentTestSuite').val();
        $.ajax({
             url: "{% url 'test_suite_create' %}",
             method : 'POST',
             dataType : "json",
             data: {'name': name,
                    'parent': parent,
                    'project_id': project_id,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
             },
             success: function(response) {
                $('#testSuite').html(response['test_template']);
             }
        });
    };
    </script>
{% endblock %}