{% load static %}

<div class="card h-100">
    <h6 class="card-header pe-2 border-bottom border-3 border-light d-flex justify-content-between align-items-center" style="height: 60px;">
        {{test_suite.name}}
        <button class="btn btn-sm btn-secondary me-0" style="margin-left: auto;"><i class="bi bi-pencil-square"></i></button>
        <button class="btn btn-sm btn-secondary ms-1 me-0" onclick="deleteTestSuite({{test_suite.id}})"><i class="bi bi-trash"></i></button>
    </h6>

    <div class="card-body p-0">
        <div class="m-2 mt-3">
            <div class="card-subtitle border-bottom border-2 border-light" style="color: #495057">Suite Description</div>
            <div class="ps-3 pt-2"><p>Тут будет описание свита..</p></div>
        </div>
        <div class="m-2 pt-4">
            <h6>
                <a class="btn px-1" onclick="createNewTestCase({{test_suite.id}});">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#3245a1" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg>
                </a>
                Test Cases
            </h6>
            <ul class="list-group mt-4">
                {% for test_case in test_cases %}
                    <li class="list-group-item">
                        <a class="stretched-link" onclick="getTestDescription({{test_case.id}})" data-toggle="collapse"
                           aria-expanded="true" style="text-decoration: none;">
                            {{test_case.name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
