{% extends 'tms/admin_page.html' %}

{% load crispy_forms_tags %}

{% block page-content-header %}
<h4 class="fw-light mx-3 pt-4"><span>Редактирование {{object}} пользователя</span></h4>
{% endblock %}


{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item" aria-current="page"><a class="fs-12 text-primary" href="{% url 'admin_users' %}">Пользователи</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{object}}</li>
{% endblock %}


{% block page-content-tabs %}
    {% include "tms/components/tabs.html" with tabs=tabs active_tab=active_tab %}
{% endblock %}


{% block page-content %}
<div class="content py-2">
    <div class="row gx-3">
        {% include "tms/components/alerts.html" with messages=messages %}
        <div class="col-6">
            <div class="card bg-white p-3">
                <div class="card-header bg-white px-0"><h5>Атрибуты</h5></div>
                <div class="card-body pt-3 px-0">
                    <form action="{% url 'admin_user_profile' object.pk %}" method="post" class="m-0">
                        {% crispy form form.helper %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
