.stars {
    background: #000 url(../images/stars.png) repeat top center;
    z-index: 0;
}

.icon {
    color: #FFF;
}

.card-button {
    z-index: 2;
    position: relative;
}

.text-small {
    font-size: 0.875rem;
}