{% load static %}

<header>
    <nav class="navbar navbar-expand navbar-dark p-0">
        <div class="container-fluid bg-dark px-3">
            <a class="navbar-brand fw-light" style="font-size: 2em;" href="{% url 'index' %}"> TMS </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}"> Dashboard </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"> Administration </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#"
                           id="navbarUserProfileDropdown" role="button" data-bs-toggle="dropdown">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end ng-light"
                            aria-labelledby="navbarUserProfileDropdown">
                            <li><a class="dropdown-item" href="{% url 'user_profile' %}">Profile settings</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>