{% extends 'tms/base.html' %}

{% block header %}
    {% include "tms/components/header.html" %}
{% endblock %}

{% block content %}
    <div class="content p-2">
        <div class="page-content-header">
            {% block page-content-header %}{% endblock %}
        </div>

        <div class="page-content-tabs">
            {% block page-content-tabs %}{% endblock %}
        </div>

        <div class="page-content-body p-2">
            {% block page-content %}{% endblock %}
        </div>
    </div>
{% endblock %}