{% extends 'tms/base_page.html' %}

{% block page-content %}

<div class="content">
    <div class="container-fluid">
        <div class="card border-0 mt-3 mb-5">
            <div class="card-body text-center px-0" style="min-height: 250px; background: #ddd;">
                Reserved for graph...
            </div>
        </div>

        <div class="card border-0">
            <nav class="navbar navbar-light">
                <a class="navbar-brand">Projects</a>
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">New project</button>
            </nav>
            <hr class="my-0">
            <div class="card-body px-0">
                <div class="row">
                    <div class="list-group">
                        {% for project in projects %}
                            {% include "tms/components/card.html" with project=project %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}